.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 10px 0;
  padding-left: 15px;
  transition: 0.1s;
}

.contact input {
  background: transparent;
  border: none;
  outline: none;
}

.contact:not(:first-child):hover {
  background: #eceff4;
}

.contact__manage {
  display: flex;
  justify-content: flex-start;
}

.contact__manage button {
  width: 70px;
  margin: 0 10px;
  margin-left: 0;
  padding: 0 10px;
  background: transparent;
  border: black solid 1px;
  cursor: pointer;
}

#delete-contact:hover {
  background: tomato;
  border: tomato solid 1px;
  color: white;
}

#confirm-delete:hover {
  background: tomato;
  border: tomato solid 1px;
  color: white;
}

#cancel-delete:hover {
  background: skyblue;
  border: skyblue solid 1px;
  color: white;
}
