.App {
  display: flex;
  justify-content: center;
}

.contacts {
  margin: 15px 0;
  width: 70%;
}

.add-contact {
  margin: 15px 20px;
}

.add-contact button {
  background: transparent;
  border: black solid 1px;
  cursor: pointer;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.contact__manage {
  display: flex;
}

.contact__manage button {
  width: 70px;
  margin: 0 15px;
  background: transparent;
  border: black solid 1px;
  cursor: pointer;
}
