.App {
  display: flex;
  justify-content: center;
}

.contacts {
  margin: 15px 0;
  width: 70%;
}

.contact:first-child {
  font-weight: 700;
  border-bottom: steelblue solid 1px;
}

.add-contact {
  margin: 15px 0;
}

.add-contact button {
  padding: 10px 10px;
  background: transparent;
  border: black solid 1px;
  transition: 0.5s;
  cursor: pointer;
}

.add-contact button:hover {
  background: salmon;
  color: white;
  border: salmon solid 1px;
}
